.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb($dark-bg);
    color: rgb($white);

    input {
        flex: 1;
        margin-right: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: rgb($bg);
        color: rgb($white);
        outline: none;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgb($dark-bg);
    color: rgb($white);

    .bot {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: rgb($bg);
        color: rgb($white);
        margin-bottom: 0.5rem;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: rgb($dark-bg);
            color: rgb($white);
            margin-bottom: 0.5rem;

            & > img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }

            & > h1 {
                font-size: 1.5rem;
                font-weight: 500;
            }

            & > p {
                font-size: 1rem;
                font-weight: 300;
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 0.5rem;

                .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 0.5rem;

                    & > a {
                        margin-right: 0.5rem;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.5rem;
                        background-color: rgb($bg);
                        color: rgb($white);
                        text-decoration: none;
                        font-size: 0.75rem;
                        font-weight: 300;
                        transition: all 0.2s ease-in-out;
                    }

                    & > a:hover {
                        background-color: rgb($blue);
                    }
                }
            }
        }

        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: rgb($dark-bg);
            color: rgb($white);
            margin-bottom: 0.5rem;

            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgb($bg);
                color: rgb($white);
                margin-bottom: 0.5rem;

                & > h1 {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                & > p {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
}