.searchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: rgb($white);
    
    input {
        flex: 1;
        margin: 0.25rem 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb($white);
        outline: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }

        &:focus {
            background-color: rgba(0, 0, 0, 0.7);
        }

        &::placeholder {
            color: rgb($white);
        }
    }
    
    #search2 {
        flex: 0;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        color: rgb($white);
        outline: none;
    }
    
    select {
        flex: 0;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb($white);
        outline: none;
        margin: 0.25rem 0.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: all 0.2s ease-in-out;
        
        &:focus {
            background-color: rgba(0, 0, 0, 0.7);
        }
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
        
        option {
            background-color: rgba(0, 0, 0, 0.5);
            color: rgb($white);
            transition: all 0.2s ease-in-out;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }
            
            &:focus {
                background-color: rgba(0, 0, 0, 0.7);
            }
            
            &:active {
                background-color: rgb($blue);
            }
        }
    }
}

.container {
    width: 100%;
    height: 100%;
    color: rgb($white);
    
    .bot {
        width: 100%;
        color: rgb($white);
        
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: rgb($white);
            background-color: rgba(0, 0, 0, 0.5);
            
            .botInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                margin-bottom: 5rem;
                
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
                
                h1 {
                    margin: 0;
                    font-size: 2rem;
                }
                
                p {
                    margin: 0;
                    font-size: 1rem;
                }
            }
            
            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0.5rem;
                
                .links {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0.5rem;
                    
                    a, button {
                        margin-right: 0.5rem;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.5rem;
                        background: rgba(0, 0, 0, 0.5);
                        color: rgb($white);
                        text-decoration: none;
                        font-size: 1rem;
                        font-weight: 300;
                        transition: all 0.2s ease-in-out;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        
                        &:hover {
                            background-color: rgb($blue);
                        }
                    }
                }
            }
        }
        
        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: rgb($white);
            
            .stat {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                margin: 0.5rem;
                min-height: 10rem;
                
                & > h1 {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                
                & > p {
                    font-size: 1.25rem;
                    font-weight: 300;
                }
                
                .teamMember {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    padding: 0 0.5rem;
                    border-radius: 100px;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: rgb($white);
                    margin: 0.5rem 0;
                    transition: all 0.2s ease-in-out;
                    
                    & > img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }
                    
                    & > p {
                        margin-left: 0.5rem;
                        font-size: 1rem;
                        font-weight: 300;
                    }
                    
                    &:hover {
                        background-color: rgb($blue);
                    }
                }
            }
        }
    }
}

.voteCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: rgb($white);
    
    .botCardHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb($white);
        
        .botAvatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            padding: 0.5rem;
            border-radius: 50%;
            color: rgb($white);
            margin-right: 0.5rem;
        }
        
        .botInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            .botName {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 500;
            }
            
            .botStats {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 0.5rem;
                
                .botStat {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    color: rgb($white);
                    margin: 0.5rem 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    
                    .botStatNumber {
                        margin: 0 0.25rem;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    
                    .botStatName {
                        margin: 0 0.25rem;
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
            }
            
            .botButtons {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                color: rgb($white);
                
                .auth {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    color: rgb($white);
                    background-color: rgba(0, 0, 0, 0.5);
                    
                    .botButton {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        color: rgb($white);
                        background-color: rgba(0, 0, 0, 0.5);
                        transition: all 0.1s ease-in-out;
                    }
                }
                
                .botButton {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: rgb($white);
                    margin: 0.5rem;
                    transition: all 0.2s ease-in-out;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    height: 2rem;
                    
                    &:disabled {
                        cursor: not-allowed;
                    }
                    
                    &:not(:disabled):hover {
                        background-color: rgb($blue);
                    }
                }
            }
        }
    }
}

.editCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb($white);
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb($white);
        
        .avatar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            padding: 0.5rem;
            border-radius: 50%;
            color: rgb($white);
            margin-right: 0.5rem;
        }
        
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            h1 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        .updateInfo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: rgb($white);
            margin: 0.5rem;
            transition: all 0.2s ease-in-out;
            outline: none;
            border: none;
            cursor: pointer;
            height: 2rem;

            &:disabled {
                cursor: not-allowed;
            }

            &:not(:disabled):hover {
                background-color: rgb($blue);
            }
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        color: rgb($white);
        
        .prefix {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            label {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
            }
            
            input {
                margin: 0 0.5rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                outline: none;
                border: none;
                transition: all 0.2s ease-in-out;
                text-align: center;
                
                &:focus {
                    background-color: rgba(0, 0, 0, 0.75);
                }
            }
        }
        
        .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            h1 {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
            }
            
            textarea {
                margin: 0.5rem 0;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                outline: none;
                border: none;
                transition: background-color 0.2s ease-in-out;
                width: 100%;
                resize: none;
                
                &:focus {
                    background-color: rgba(0, 0, 0, 0.75);
                }
            }
        }
        
        .tags {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            h1 {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
            }
            
            .tagsList {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                color: rgb($white);
                
                .tag {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: rgb($white);
                    margin: 0.5rem;
                    transition: all 0.2s ease-in-out;
                    position: relative;
                    
                    label {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 300;
                        display: flex;
                        flex-direction: row;
                        
                        .checkmark {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 0.5rem;
                            background-color: rgba(0, 0, 0, 0.5);
                            color: rgb($white);
                            margin: 0 0.5rem;
                            transition: all 0.1s ease-in-out;
                            position: relative;
                            
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.75);
                                cursor: pointer;
                            }
                            
                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }
                            
                            span {
                                display: none;
                                position: absolute;
                                height: 2px;
                                width: 0;
                                left: 0.25rem;
                                bottom: 0.5rem;
                                background-color: rgb($white);
                                transform: rotate(45deg);
                                transition: all 0.2s ease-in-out;
                                animation-name: checkmark;
                                animation-delay: 0.1s;
                                animation-duration: 0.2s;
                                animation-fill-mode: forwards;
                                
                                &:before {
                                    content: "";
                                    position: absolute;
                                    bottom: 0.4rem;
                                    height: 2px;
                                    width: 0;
                                    background-color: rgb($white);
                                    transform: rotate(-90deg);
                                    transition: all 0.2s ease-in-out;
                                    animation-name: checkmark2;
                                    animation-delay: 0.2s;
                                    animation-duration: 0.1s;
                                    animation-fill-mode: forwards;
                                    background-position: left top;
                                }

                                @keyframes checkmark {
                                    0% {
                                        width: 0;
                                    }

                                    100% {
                                        width: 0.5rem;
                                    }
                                }

                                @keyframes checkmark2 {
                                    0% {
                                        width: 0;
                                    }

                                    100% {
                                        width: 0.75rem;
                                        left: 0.04rem;
                                    }
                                }
                            }
                        }
                    }
                    
                    input {
                        margin: 0 0.5rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        background-color: rgb($bg);
                        color: rgb($white);
                        outline: none;
                        border: none;
                        transition: all 0.2s ease-in-out;
                        left: 0.5rem;
                        top: 25%;
                        bottom: 25%;
                        position: absolute;
                        opacity: 0;
                        
                        &:focus {
                            background-color: rgb($darker-bg);
                        }
                        
                        &:checked ~ label .checkmark {
                            background-color: rgb($blue);
                            
                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        
        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            h1 {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
            }
            
            .linksList {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                color: rgb($white);
                
                .link {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: rgb($white);
                    margin: 0.5rem;
                    transition: all 0.2s ease-in-out;
                    
                    label {
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 300;
                    }
                    
                    input {
                        margin: 0 0.5rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        background-color: rgba(0, 0, 0, 0.5);
                        color: rgb($white);
                        outline: none;
                        border: none;
                        transition: all 0.2s ease-in-out;
                        width: 100%;
                        
                        &:focus {
                            background-color: rgba(0, 0, 0, 0.75);
                        }
                    }
                }
            }
        }
        
        .votes {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            h1 {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
            }
            
            .vote {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                margin: 0.5rem;
                transition: all 0.2s ease-in-out;
                
                label {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 300;
                    position: relative;

                    span {
                        margin: 0 0.5rem;
                        font-size: 1rem;
                        font-weight: 300;

                        svg {
                            width: 1rem;
                            height: 1rem;
                            transition: all 0.2s ease-in-out;
                        }

                        &:is(:hover, .clicked) {
                            cursor: pointer;

                            svg {
                                fill: rgb($blue);
                            }

                            & ~ .tooltip {
                                opacity: 1;
                                scale: 1;
                                z-index: 1;
                            }
                        }
                    }

                    .tooltip {
                        position: absolute;
                        z-index: -1;
                        background-color: rgb($darker-bg);
                        color: rgb($white);
                        padding: 0.75rem;
                        border-radius: 0.5rem 0.5rem 0 0.5rem;
                        font-size: 0.75rem;
                        font-weight: 300;
                        margin: 0.5rem;
                        scale: 0;
                        opacity: 0;
                        bottom: 0.5rem;
                        right: 1rem;
                        transition: all 0.2s ease-in-out;

                        a {
                            color: rgb($light-blue);
                            text-decoration: none;
                            transition: all 0.2s ease-in-out;
                            margin: 0;

                            &:hover {
                                color: rgb($blue);
                            }
                        }

                        p {
                            margin: 0;
                        }

                        &:hover {
                            display: block;
                        }
                    }
                }
                
                input {
                    margin: 0 0.5rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: rgb($white);
                    outline: none;
                    border: none;
                    transition: all 0.2s ease-in-out;
                    width: 100%;
                    
                    &:focus {
                        background-color: rgba(0, 0, 0, 0.75);
                    }
                }
            }
        }
        
        .submit {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);
            
            input {
                margin: 0 0.5rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                outline: none;
                border: none;
                transition: all 0.2s ease-in-out;
                
                &:focus {
                    background-color: rgb($blue);
                }
                
                &:hover {
                    cursor: pointer;
                    background-color: rgb($blue);
                }
            }
        }
    }
    
    .editPopup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
        scale: 0;
        transition: all 0.2s ease-in-out;
        
        &.show {
            z-index: 1000;
            scale: 1;
        }
        
        .content {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 0.5rem;
            padding: 1rem;
            width: 100%;
            max-width: 500px;
            height: 100%;
            max-height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: auto;
            
            .error {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                color: rgb($white);
                
                h1 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
            
            .success {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0.5rem;
                color: rgb($white);
                
                h1 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
            
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                
                span {
                    &::before,
                    &::after {
                        content: '';
                        top: 50%;
                        left: 50%;
                        width: 30px;
                        height: 3px;
                        margin: 10px 0 0 -10px;
                        background: rgb($white);
                        position: absolute;
                        border-radius: 3px;
                    }
                    
                    &::before {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    
                    &::after {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
}

.signalPopup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    scale: 0;
    transition: all 0.2s ease-in-out;
    
    &.show {
        z-index: 1000;
        scale: 1;
    }

    .signalBot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0.5rem;
        padding: 1rem;
        position: relative;

        h1 {
            margin: 0;
            font-size: 1rem;
            font-weight: 300;
        }

        p {
            margin: 0;
            font-size: 0.75rem;
            font-weight: 300;
        }

        textarea {
            margin: 0.5rem 0;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: rgba(0, 0, 0, 0.5);
            color: rgb($white);
            outline: none;
            border: none;
            transition: all 0.2s ease-in-out;
            border: 1px solid rgb($white);
            width: 100%;
            height: 100px;
            resize: none;

            &.error {
                border: 1px solid red;
            }

            &:not(.error):is(:hover, :focus) {
                background-color: rgba(0, 0, 0, 0.75);
                border: 1px solid rgb($light-blue);
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            color: rgb($white);

            button {
                margin: 0 0.5rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: rgba(0, 0, 0, 0.5);
                color: rgb($white);
                outline: none;
                border: none;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                &:is(:hover, :focus) {
                    background-color: rgb($blue);
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .bot {
        .stats {
            flex-wrap: wrap;
        }
    }
}