.headline {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 1rem;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: rgb($white);
}
