$white: 209 215 212;
$bg: 54 57 63;
$dark-bg: 47 49 54;
$darker-bg: 40 42 47;
$blue: 88 101 242;
$light-blue: 100 110 255;
$main: 242 172 52;
$light-main: 255 184 64;
$cool-bg: linear-gradient(45deg, rgba(242,172,52,1) 40%, rgba(88,101,242,1) 100%);
$cool-bg-hover: linear-gradient(45deg, rgba(255,184,64,1) 40%, rgba(100,110,255,1) 100%);
$bg-setup: rgb(242,172,52);

@-webkit-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}
@keyframes AnimationName {
  0%{background-position:99% 0%}
  50%{background-position:2% 100%}
  100%{background-position:99% 0%}
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: rgb($white);
  background: #36393F;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  margin: 5rem auto;

  img {
    border-radius: 3em;
  }

  p {
    font-size: 1.5rem;
    margin: .5em;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    .button {
      background: #2F3136;
      border: none;
      border-radius: 5px;
      padding: .5em 1em;
      color: #5863F8;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all .3s ease-in-out;
      margin: 1em 0;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5em;
      font-weight: bold;

      img {
        max-height: 1em;
        border-radius: 0;
      }

      &:hover {
        color: white;
      }
    }
  }

  a {
    color: white;
  }

  @media screen and (max-width: 700px) {
    max-width: 90%
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgb(148, 118, 44);
  border-radius: 5px;

  &:hover {
    background: rgb($main);
  }
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}