$white: 209 215 212;
$bg: 54 57 63;
$dark-bg: 47 49 54;
$darker-bg: 40 42 47;
$blue: 88 101 242;
$light-blue: 100 110 255;
$main: 242 172 52;
$light-main: 255 184 64;
$cool-bg: linear-gradient(45deg, rgba(242,172,52,1) 40%, rgba(88,101,242,1) 100%);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: rgb($white);
  background: rgb($dark-bg);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb($dark-bg);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb($main);
  border-radius: 5px;

  &:hover {
    background: rgb(148, 118, 44);
  }
}

@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

@import "components/AddBotPopup.module";
@import "components/BotCard.module";
@import "components/NavBar.module";

@import "pages/bots.module";
@import "pages/index.module";
@import "pages/profile.module";
